body {
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 50px; /* optional spacing between gif and form */
  color: white;
}

.animation {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation img {
  filter: blur(9px);
  width: 700px;
  height: auto;
}

.auth-section {
  flex: 1;
  font-size: 2rem;
  text-align: center;
}
