.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 170px;
  color: rgb(243, 243, 243);
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  z-index: 10;
}

.logo {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: 1;
  color: rgb(243, 243, 243);
}

.menuItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* space between menu items */
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItems li {
  cursor: pointer;
  padding: 10px 15px;
  text-decoration: none;
  color: inherit;
}

.wallet img {
  width: 25px;
  padding: 2px 4px;
}

.medium {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  right: -40px;
  top: 5px;
}

.wallet-container {
  visibility: visible;
}

.dropdown {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.694);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
}

.dropdown .icon {
  position: absolute;
  width: 35px;
  right: 45px;
  top: 65px;
}

.dropdown-menu {
  padding: 20px;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  list-style: none;
}

.dropdown-menu li {
  padding-top: 50px;
  padding-right: 30px;
  cursor: pointer;

  padding: 10px 15px;
}

@media screen and (max-width: 768px) {
  .large {
    display: none;
  }

  .logo {
    font-size: x-large;
  }

  .medium {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 6px;
    padding-left: 20px;
    position: relative;
    z-index: 10;
  }

  .small-screen {
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
