.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: 1; /* Keeps logo above other elements */
}

.menuItems {
  display: flex;
}

.wallet img {
  width: 25px;
  padding: 2px 4px;
}

.medium {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-right: 6px;
  padding-left: 20px;
  position: relative; /* Keeps everything in place when the menu opens */
  z-index: 10;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
}

.menu div {
  margin-top: 9px;
}

.wallet-container {
  visibility: visible; /* Initially visible */
}

.dropdown {
  position: fixed; /* Makes dropdown overlay on top of layout */
  top: 0;
  right: 0;
  height: 100%;
  width: 60%;
  background-color: rgba(0, 255, 255, 0.354);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000; /* Ensures dropdown is above everything else */
}

.dropdown .icon {
  position: absolute;
  width: 35px;
  right: 0px;
  top: 25px;
}

.dropdown .dropdown-menu {
  padding: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown ul {
  padding-top: 50px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .large {
    display: none;
  }
  .medium {
    display: flex;
    justify-content: space-between;
    padding-right: 6px;
    padding-left: 20px;
  }
}
