.wallet {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a99fec;
  color: white;
  border: none;
  border-radius: 15px;
  width: 200px;
  height: 40px;
  font-size: medium;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
